frontend/node_modules/
frontend/.next/
frontend-bak/.next/
frontend-bak/node_modules/
frontend-bak-bak/.next/
frontend-bak-bak/node_modules/
frontend-bak-bak-bak/.next/
frontend-bak-bak-bak/node_modules/
frontend-bak-bak-bak-bak/.next/
frontend-bak-bak-bak-bak/node_modules/
frontfix/node_modules/
